<app-hero>
  <h1 app-type type="title" colour="white" marginBottom>Angular Toolbox</h1>
  <p app-type type="heading-1" colour="white" class="supercharge">Supercharge your apps!</p>
</app-hero>

<app-container>

  <h1 app-type type="title" marginBottom>
    Lorem ipsum dolor sit amet.
  </h1>

  <h2 app-type type="heading-1" marginBottom>
    Lorem ipsum dolor sit amet, consectetur
  </h2>

  <h2 app-type type="heading-2" marginBottom>
    Lorem ipsum dolor sit amet, consectetur.
  </h2>

  <p app-type type="lead" marginBottom>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis diam non tellus lacinia bibendum.In
    molestie vehicula ligula eu iaculis.
  </p>

  <p app-type>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis diam non tellus lacinia bibendum. In
    molestie vehicula ligula eu iaculis. Nam lobortis maximus lorem sed rhoncus. In sit amet sapien leo. Proin eget
    dapibus rat. Nunc non quam sed est dignissim commodo sit amet vel ipsum. Donec suscipit mattis quam sit scelerisque.
  </p>

</app-container>
