:host(.container) {
  display: block;
  margin: auto;
  width: 100%;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
}

:host(.container--wide) {
  max-width: var(--grid-wide-max-width);
}
